[user]
        name = Eric Berquist
        email = eric.berquist@gmail.com
[core]
        editor = emacs -nw
[color]
        ui = true
[push]
        default = simple
[merge]
        conflictstyle = diff3
        verbosity = 3
[alias]
        # The basics.
        aa = add --all
        bav = branch -a -v
        co = checkout
        di = diff
        # These do the same thing.
        dc = diff --cached
        ds = diff --staged
        rv = remote -v
        st = status -sb

        # Log stuff.
        l = log --color --decorate --abbrev-commit --date=iso
        lg = !git l --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'

        # Let's do some destructive stuff.
        rhu = reset --hard @{u}
        amend = commit --amend -C HEAD
        undo = reset --soft HEAD^
