# -*- mode: conf; -*-

[user]
    name = Eric Berquist
    email = eric.berquist@gmail.com

[core]
    editor = emacs -nw
    autocrlf = input
    safecrlf = warn

[color]
    ui = true

[push]
    default = simple

[merge]
    conflictstyle = diff3
    verbosity = 3

[alias]
    branches = branch -a -v
    # These do the same thing (--cached and --staged, that is).
    dc = diff --cached
    ds = diff --staged
    remotes = remote -v
    st = status -sb

    # Similar to the default, but with some labels.
    l = log --color --decorate --abbrev-commit --date=iso
    # gitk style, very pretty mhmmmm
    lg = !git l --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'

    ## Let's do some destructive stuff.
    # What does this do?
    rhu = reset --hard @{u}
    # Add more things to the last commit on the current head, with the
    # ability to rewrite the commit message.
    amend = commit --amend -c HEAD
    # What does this do?
    undo = reset --soft HEAD^

    ## Useful for LaTeX.
    ## Taken from https://wiki.math.cmu.edu/iki/wiki/tips/20140301-git-latexdiff.html
    # git wdiff HEAD~1
    wdiff = diff --color-words --ignore-all-space
    # git ldiff HEAD~1
    ldiff = difftool -y -t latex

[difftool.latex]
    cmd = ldiff "$LOCAL" "$REMOTE" "$MERGED"

# Where did this come from?
[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
