# -*- mode: conf; -*-

[user]
        name = Eric Berquist
        email = eric.berquist@gmail.com

[core]
        editor = emacs -nw

[color]
        ui = true

[push]
        default = simple

[merge]
        conflictstyle = diff3
        verbosity = 3

[alias]
        # The basics.
        aa = add --all
        bav = branch -a -v
        co = checkout
        di = diff
        # These do the same thing.
        dc = diff --cached
        ds = diff --staged
        rv = remote -v
        st = status -sb

        # Log stuff.
        l = log --color --decorate --abbrev-commit --date=iso
        lg = !git l --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'

        # Let's do some destructive stuff.
        rhu = reset --hard @{u}
        amend = commit --amend -C HEAD
        undo = reset --soft HEAD^

        ## Useful for LaTeX.
        # git wdiff HEAD~1
        wdiff = diff --color-words --ignore-all-space
        # git ldiff HEAD~1 > diff.tex
        ldiff = difftool -y -t latex

[difftool.latex]
        cmd = latexdiff -t CFONT "$LOCAL" "$REMOTE"
