# What are these?
.saves*
elpa
url

# Emacs
.emacs.d/ac-comphist.dat
.emacs.d/ede-projects.el
.emacs.d/eshell
.emacs.d/ido.last
.emacs.d/semanticdb
.emacs.d/srecode-map.el
.emacs.d/tramp

.emacs.d/markdown-preview-mode/.gitignore
